<h1>Name: <%=@client.name%></h1>
<h1>Industry : <%=@client.industry%></h1>
<h1> Priority: <%=@client.priority%></h1>


<a href="/client/<%=@client.id%>/edit"> Edit Details </a><br>

<form action="/client/<%=@client.id%>" method="post">
<input id="hidden" type="hidden" name="_method" value="delete">
<input type="submit" value="Delete this client">
</form>
